<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948842125375-35gj2iv3gs7bg3s0b9mdgkrn07c8ncte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948842125375-35gj2iv3gs7bg3s0b9mdgkrn07c8ncte</string>
	<key>API_KEY</key>
	<string>AIzaSyA0in5ZB3jZ6vrwTet6PC8gAMaAqWnFcyU</string>
	<key>GCM_SENDER_ID</key>
	<string>948842125375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bailey.dailytimetable</string>
	<key>PROJECT_ID</key>
	<string>dailytimetable-1c13f</string>
	<key>STORAGE_BUCKET</key>
	<string>dailytimetable-1c13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948842125375:ios:7d8c4cf0601df3e216408a</string>
	<key>DATABASE_URL</key>
	<string>https://dailytimetable-1c13f-default-rtdb.firebaseio.com</string>
</dict>
</plist>