<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NanumAJumMaJaYu.ttf</string>
		<string>EF_Diary.ttf</string>
		<string>NanumBarunpenB.otf</string>
		<string>NanumBarunpenR.otf</string>
		<string>Worcestershire_Sauce_Press-Regular.otf</string>
		<string>Worcestershire_Sauce-Regular.otf</string>
		<string>Windsor_Great_Park-Regular.otf</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>com.bailey.DailyToDoList.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
</dict>
</plist>
